<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Comparison</title>
    <style>
        .comparison-container {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }
        .comparison-item {
            margin-right: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        #chart-container {
            width: 80%;
            margin: auto;
        }
    </style>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
</head>
<body>
    <h1>Comparison of "{{ word1 }}" and "{{ word2 }}"</h1>
    <p>Cosine Similarity: {{ similarity }}</p>

    <h3>Rating Details: <i>{{ word1 }}</i></h3>
    <p>{{ vec1 }}</p>
    <ul>
        
    </ul>

    <h3>Rating Details: <i>{{ word2 }}</i></h3>
    <p>{{ vec2 }}</p>
    <div class="comparison-container">
        <div class="comparison-item">
            <button onclick="toggleSimilarities('{{ word1 }}')">Display Rating Details</button>
            <ul id="similarities-{{ word1 }}" style="display: none;">
                {% for col in selected_columns %}
                    <li><strong>{{ col }}:</strong> {{ word1_data[col] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="comparison-item">
            <button onclick="toggleSimilarities('{{ word2 }}')">Display Rating Details</button>
            <ul id="similarities-{{ word2 }}" style="display: none;">
                {% for col in selected_columns %}
                    <li><strong>{{ col }}:</strong> {{ word2_data[col] }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="chart-container">
        <canvas id="vectorChart"></canvas>
    </div>

    <script>
    function toggleSimilarities(word) {
        var similaritiesList = document.getElementById('similarities-' + word);
        if (similaritiesList.style.display === 'none') {
            similaritiesList.style.display = 'block';
        } else {
            similaritiesList.style.display = 'none';
        }
    }

    </script>
    
    <a href="/" class="btn">Return to Table</a>
</body>
</html>